body {
    font-family: 'Pontano Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    background: #fff;
    font-size: 12pt;
}
h1,h2 {
    margin: 0;
    padding: 0
}
a {
    color: #FA0F14;
}
h1 {
    font-size: 30pt;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 15pt;
    text-align: center;
}
p {
    margin: 0.6em 0;
}
h1,h2 {
    font-weight:normal;
    letter-spacing: 0.1em;
}
#content1 {
    margin: 1em auto 6em auto;
}
#content1,#content2,#content3 {
    width: 40em;
    padding: 1em;
    border: solid 1em;
    border-radius: 2em;
}
#content1 {
    border-color: rgba(238, 198, 135, 0.40);
    border-top-left-radius: 6em;
}
#content2 {
    border-color: rgba(54, 53, 255, 0.4);
    margin-bottom:-4em;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
}
#content3 {
    width: 36em;
    border-color: rgba(250, 15, 20, 0.4);
    margin-bottom:-4em;
    border-bottom-right-radius: 6em;
    padding-right: 5em;
    padding-bottom: 4em;
}
span.time {
    color: #485277;
    font-size: 80%;
    letter-spacing: 0.05em;
}
ul {
    margin: 1em 0;
    padding: 0;
}
li {
    list-style: none;
    padding-bottom: 0.5em;
}
@media handheld, only screen and (max-device-width: 480px) {
    h1 {
        font-size: 20pt;
    }
    #content1,#content2,#content3 {
        width: 15em;
        padding: 0.5em;
        border-width: 0.5em;
        border-radius: 1em;
    }
    #content1 {
        margin: 0 0 3em;
        border-top-left-radius: 3em;
    }
    #content2 {
        margin-bottom:-2em;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    #content3 {
        width: 12.5em;
        margin-bottom:-2em;
        border-bottom-right-radius: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
    }
}